header {
  font-family: 'Julius Sans One', sans-serif;
  background: rgba(51, 51, 51, 1);
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

header .header-content {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

header .logo img {
  width: 50%;
}

header .header-info {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

header .header-info:hover {
  /*background: white;
  border-color: white;
  color: #333;*/
  background: #666;
}
