.hero {
  height: 700px;
  background-image: url("https://images.unsplash.com/photo-1497348411082-7ab34fa26e2a?w=2550&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: 1400px;
  background-position: center;
}
