main {

}

section {
  max-width: 900px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: auto;
  overflow: hidden;
  border-bottom: 1px solid #CCC;
}

.equipments img {
  width: 90%;
}

.supplies {

}

.supplies-details {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supplies-details h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.supplies-details p {
  text-align: center;
}

.supplies-details button {
  color: #27ae60;
  font-weight: 700;
  font-size: 1em;
  margin-top: 20px;
  height: 40px;
  width: 120px;
  background: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.supplies-details button:hover {
  background: #27ae60;
  border-color: #27ae60;
  color: white;
}
