main {

}

section {
  max-width: 900px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: auto;
  overflow: hidden;
  border-bottom: 1px solid #CCC;
}

.equipments img {
  width: 90%;
}

.supplies {

}

.supplies-details h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
